on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2

      - name: Check formatting
        run: zig fmt --check .

      - name: Install dependencies
        run: |
          sudo apt install libx11-dev libxrender-dev libxcursor-dev libxrandr-dev libxext-dev

      - name: Run unit tests
        run: zig build test
